* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	overflow: hidden;
}
body {
	font-family:heb;
	background: #0d0d0d;
}
#music{
display:none;
width:45px;
position:fixed;
bottom:0;
z-index:100;
}
#music:hover{
width:20%;
}
#updates{
visibility:collapse;
z-index: 200;
position: absolute;
background: #fff;
width: 100%;
height: 25px;
text-align: center;
font-size: 1.2em;
opacity: 0.75;
}
#updates li{
display:none;
}
#updates .vi{
display:inline;
}
#updates .next,#updates .pre{
padding:0 20px;
cursor:pointer;
}

#dp {
	font-family: hp;
	position: absolute;
	font-size: 4.5em;
	top: 10%;
	width: 100%;
	color: #592241;
	text-align: center;
	visibility:collapse;
}
#syn {
	font-family:hp;
	position: absolute;
	color:#592241;
	font-size:6em;
	top: 22%;
	left: 35%;
	visibility:collapse;
}
#syn1 {
	position: absolute;
	color:#592241;
	top: 16%;
	left: 35%;
	width: 0px;
	height: 136px;
	visibility:collapse;
}
#dt {
	color: #592241;
	font-family: hp;
	position: absolute;
	font-size: 2em;
	top: 40%;
	width: 100%;
	left: 52%;
visibility:collapse;
}
@font-face {
	font-family: heb;
	src: url(../Harabara.ttf) format('truetype');
}
@font-face {
	font-family: hp;
	src: url(../harry.ttf) format('truetype');
}
@font-face {
	font-family: eve;
	src: url(../jor.ttf) format('truetype');
}
.v {
	font-size: 0.5em;
	text-align: center;
	display: none;
	margin-top: -5%;
	color: rgba(255,102,0,1);
}
#page-wrap { /*padding: 0; margin: -150px -1000px -100px -75px; overflow: hidden; height: 100%;*/
	transform: rotate(15deg);
	-ms-transform: rotate(15deg); /* IE 9 */
	-moz-transform: rotate(15deg); /* Firefox */
	-webkit-transform: rotate(15deg); /* Safari and Chrome */
	-o-transform: rotate(15deg); /* Opera */
	visibility: collapse;
}
#yttrailer{
font-size:1.5em;
text-transform:uppercase;
cursor:pointer;	
}
#content {
	position: absolute;
/* #margin:25% auto;
 #font-size:10em;*/
	width: 100%;
	text-align: center;

	visibility: collapse;
}
@keyframes myfirst {
0% {
background:red;
left:0px;
top:0px;
}
25% {
background:yellow;
left:200px;
top:0px;
}
50% {
background:blue;
left:200px;
top:200px;
}
75% {
background:green;
left:0px;
top:200px;
}
100% {
background:red;
left:0px;
top:0px;
}
}
#presents {
	width: 100%;
	height: 100%;
	background: url(../images/synapse.jpg) center center no-repeat;
	background-size:100%;
}
#topLoader {
position:absolute;
top:64%;
width:100%;
}
.cleft {
	float: left;
	width: 53.75%;
	height: 100%;
	margin: -5% 0% 0% 0%;
}
.crigth {
	width: 57.75%;
	height: 100%;
	float: right;
	margin: -18% -12% 0% 0%;
}
.close {
	visibility: collapse;
	position: absolute;
	top: 0px;
	right: 0px;
}
#tag {
	color: #FFF;
	position: relative;
	right: 0;
	width: inherit;
	font-size: 20pt;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	visibility: collapse;
	z-index:20;
}

#cultdata,#techdata,#onlinedata,#workdata{
margin:3% 0 0 0;
}
#cultdata td,#techdata td,#onlinedata td,#workdata td{
padding:0% 2%;
}

#cultdata h1,#techdata h1,#onlinedata h1,#workdata h1{
	font-weight:bold;
	color:#5aa0ac;
	text-shadow:1px 1px 1px #858585;
font-size:1.05em;
}
#cultdata p,#techdata p,#onlinedata p,#workdata p{
color:#000;
padding:2px 5px;
text-align:justify;
font-size:0.95em;
}
#techdata h1{
	color:#58a263;
}
#onlinedata h1{
color:#f4a3a4;}
#workdata h1{
color:#ef3c39;}

.navf {
	opacity: 0.85;
	background: #0d0d0d;
	font-family: "Segoe UI";
	display: inline-block;
	padding:0% 1%;
	margin: 0px -5px 0px 0px;
	text-align: center;
	cursor: pointer;
	color: #FFF;
	font-size:1.5em;
	font-weight: bolder;
}
.pop {
	width: 65%;
	text-align: center;
	position: fixed;
	top: 5%;
	height: 0%;/*85%;*/
	margin: 0 17.5%;
	background: #FFF;
	padding: 10px 15px;
	box-shadow: 0px 0px 15px 7px #000;
	visibility: collapse;
	height: 80%;
	z-index:30;
}
#gallery {
	width: 800px;
}
.clo {
	background: url(../images/closew.png) center no-repeat;
	background-size:100%;
	padding:5%;
	margin-left:-5%;
	float: right;
	display: none;
	z-index: 100;
}
#conmenu {
	dispalay: inline-table;
	width: 25%;
	float: left;
	border-right: 2px thick #999;
	margin: 4% 0% 0% 0%;
}
tr {
	height: 40px;
}
tr td {
	font-family: "Times New Roman";
	font-weight: bolder;
	font-size: 1.2em;
	cursor: pointer;
}
#mem {
	cursor: pointer;
	margin: -10% 0% -15% 0%;
}
#convener:hover {
	background: #de4206;
	color: #FFF;
}
#convener:hover:after {
	border-left: 30px solid #de4206;
}
#dconvener:hover {
	color: #FFF;
	background: #fd7c2a;
}
#dconvener:hover:after {
	border-left: 30px solid #fd7c2a;
}
#mentor:hover {
	color: #FFF;
	background: #efb62b;
}
#mentor:hover:after {
	border-left: 30px solid #efb62b;
}
#prm:hover {
	color: #FFF;
	background: #9aca27;
}
#prm:hover:after {
	border-left: 30px solid #9aca27;
}
#sponsorship:hover {
	color: #FFF;
	background: #3cc16e;
}
#sponsorship:hover:after {
	border-left: 30px solid #3cc16e;
}
#hospital:hover {
	color: #FFF;
	background: #169998;
}
#sponserdata12 {
	display: none;
}
#sponserdata13 {
	display: none;
}
#trail {
	display: none;
	margin: 8% auto;
	width: 100%;
}
ul#eventlabels li {
	font-family:heb;
	list-style-type: none;
	padding-bottom:7%;
	font-size:1.25em;
}
ul#eventlabels li:hover {
	color: rgba(0,204,102,1);
}
ul#proniteslabels li {
	font-family:heb;
	padding:7% 0% 1% 5%;
	font-size:1.5em;
	list-style-type: none;
}
ul#proniteslabels li:hover {
	color: rgba(255,153,204,1);
}
#eventdata, #prodata {
	text-align:left;
}
.indata {
	display: none;
}
#viewsponsor12:hover,#viewsponsor13:hover{
color:#F90;
}
#hospital:hover:after {
	border-left: 30px solid #169998;
}
#eventm:hover {
	color: #FFF;
	background: #229dee;
}
#eventm:hover:after {
	border-left: 30px solid #229dee;
}
ul.contactimages li {
	width: 33%;
	display: inline-block;
	list-style-type: none;
}
#conimg {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
	margin-left: -20%;
	margin-top: -6%;
	margin-bottom: -6%;
}
.rsd {
	display: none;
	position: absolute;
	top: 5%;
	font-size: 16pt;
}

#asd {
	color: #FFF;
	width: 50%;
	top: 15%;
	font-size: 13pt;
	border-radius: 5px;
	padding: 1%;
	height:80%;
	overflow-y:scroll;
	box-shadow: 0px 0px 5px 5px #fff;
	margin-left: 15%;
	text-align: justify;
	background: #000;
	opacity: 0.6;
}
#pnd {
	margin: 0 11% 0 33%;
	border-radius: 5px;
	color: #FFF;
	padding: 1%;
	opacity: 0.6;
	background: #000;
	box-shadow: 0px 0px 5px 5px #fff;
	text-align: justify;
	display:none;
}
#ad{
text-align:justify;font-family:Tahoma, Geneva, sans-serif;height:60%;overflow:scroll;font-size:0.42em;	
}
#edata {
	top: 28%;
	width: 70%;
	text-align: center;
}
#condata {
	width: 75%;
	margin: 2px 0px -20px -10px;
	float: right;
	box-shadow: 0 0 0 7px white, -5px 0px 10px black;
	display: inline-block;
	height: 350px;
}
td, tr {
	margin: 0;
	padding: 0;
}
td {
}
#conmenu td:hover:after {
	content: " ";
	display: block;
	margin: -8% 0% 0% 97%;
	border-top: 20px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 20px solid transparent;
	border-left: 30px solid hsla(34,85%,35%,1);
/* #margin: -20% 0% 0% -5%; #left: 50%;
*/
	position: relative;
	z-index: 2;
}
#mainclose {
	position: absolute;
	top: 15px;
	cursor: pointer;
	background: url(../images/closew.png) center no-repeat;
	background-size:100%;
	padding: 2%;
	right: 3px;
	visibility: collapse;
}
.close {
	visibility: collapse;
	cursor: pointer;
	position: absolute;
	padding: 5px;
	right: 3px;
	background: url(../images/close.gif) center no-repeat;
	height: 22px;
	width: 66px;
}
#ed {
	display: none;
	text-align: left;
	padding: 10% 0% 0 15.0%;
	font-size: 0.6em;
}
.data {
	font-family:heb;
	display: none;
	text-align: left;
	font-size: 0.5em;
}
#credit {
}
.spons h1{
color:rgba(204,204,204,1);	
font-size:0.95em;
padding:5px 0 0 15px;	
}
.spons h2{
font-size:1.2em;
padding:0px 0 0 20px;	
}
#fb {
	display: inline-block;
	width: 100px;
	background: url(../images/fb.png) center no-repeat;
	height: 100px;
	margin: -2.5% -1.5% -2.5% 0%;
	-webkit-transform: scale(0.50);
	-moz-transform: scale(0.50);
	-ms-transform: scale(0.50);
	-o-transform: scale(0.50);
	transform: scale(0.50);
}
#fb:hover {
	background: url(../images/fb_over.png) center no-repeat;
}
#yt {
	display: inline-block;
	width: 100px;
	background: url(../images/yt.png) center no-repeat;
	height: 100px;
	margin: -2.5% 0% -2.5% -1.5%;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
}
#yt:hover {
	background: url(../images/yt_over.png) center no-repeat;
}
.navf:hover {
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
	opacity: 1;
}
#ftag {
	font-family: hp;
	margin: 0 -1px 0 -1px;
	width: 150px;
	color: #FFF;
	background: #0d0d0d;
	height: 40px;
	display: block;
	padding: 10px;
	cursor: pointer;
	border: 1px solid #000;
	text-align: center;
}
/*.info-col h2 { text-align: center; font-weight: normal; padding: 25px 0; }*/
/*.info-col2 { float: left; width: 600px; height: 100%; padding: 50px 20px 25px 5px; -webkit-transform: rotate(15deg); text-align:left;}
.info-col2 h2 { text-align: center; font-weight: normal; padding: 25px 0; }*/
#image {
	height: 50px;
	text-indent: -9999px;
	display: block;
	border-right: 1px solid white;
}
#aboutus {
	box-shadow: #0d0d0d 0px 0px 10px 3px inset;
	background: url(../images/about2.jpg) center center no-repeat;
	height: 450px;
background-size:cover;
}
#sponsors {
	box-shadow: #0d0d0d 0px 0px 10px 3px inset;
	background: url(../images/sponsor1.jpg) right top no-repeat;
	height: 300px;
	background-size:cover;
}
#events {
	box-shadow: #0d0d0d 0px 0px 10px 3px inset;
	background: url(../images/event1.jpg) top center no-repeat;
	height: 450px;
	background-size:cover;
}
#pronites {
	box-shadow: #0d0d0d 0px 0px 10px 3px inset;
	background: url(../images/pronite.jpg) center center no-repeat;
	height: 450px;
	background-size:cover;
}
#teasar {
	box-shadow: #0d0d0d 0px 0px 10px 3px inset;
	background: url(../images/t1.jpg) right center no-repeat;
	height: 200px;
	background-size:cover;
}
dt {
	color: white;
	margin-bottom: 7px;
}
#viewyouth{
font-size:1.5em;
color:#FFF;	
}
#viewyouth:hover{
color:#F90;}

#yrun{
color:#FFF;
font-size:3em;
}
.list {
	position:relative;
	top:0;
	display: inline-block;
	height:80%;
	margin-top:5%;
	margin-bottom:4%;
}
#cult {
	position: relative;
	left: 0px;
	background: url(../images/1.jpg) center center no-repeat;
	height: 100%;
	width: 95px;
	background-size:100% 100%;
}
#register{
display:none;
width:100%;
height:100%;	
}
#tech {
	position: relative;
	left: 0px;
	height: 100%;
	background: url(../images/2.jpg) center center no-repeat;
	width: 95px;
	background-size:100% 100%;
}
#work {
	position: relative;
	left: 0px;
	height: 100%;
	background: url(../images/3.jpg) center center no-repeat;
	background-size:100% 100%;
	width: 95px;
}
#online {
	position: relative;
	left: 0px;
	height: 100%;
	background: url(../images/4.jpg) center center no-repeat;
	width: 95px;
	background-size:100% 100%;
}
.cont {
	background: url(../images/bg.png);
	display: inline-block;
	position: absolute;
	width: 0px;
	height: 100%;
	background-size:100% 100%;
	z-index:1;
}
#epc,#ept,#epo,#epw{
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
-ms-border-radius:5px;
border-radius:5px;

-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
-ms-box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
-o-box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);

background: -moz-linear-gradient(19% 75% 90deg, #FF4D01, #FF8924);

background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF8924), to(#FF4D01));

color:#fff;
float:left;
font-family:arial,helvetica,sans-serif;
font-size:15px;
font-weight:bold;
padding:8px 20px;
	position:absolute;
	bottom:4%;
	right:4%;
	cursor:pointer;
}
#epc:hover,#ept:hover,#epo:hover,#epw:hover{
background: -moz-linear-gradient(19% 75% 90deg, #EB4701, #F58423);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F58423), to(#EB4701));
}
.eventpop{
	font-family:heb;
	display:table;
	position:fixed;
	top:11%;
	left:25%;
	height:78%;
	width:50%;
	z-index:10;
	background:#ddd;
	border-radius:7px;
}
.tnam,.cnam,.onam,.wnam{
cursor:pointer !important;
font-weight:bold;
}
.cnam,.tnam{
font-size:1.5em;
}
/*.tnam{color:#66cc66;}
.1cnam{color:#66cccc;}
.onam{color:#EBB;}
.wnam{color:#ff6666;}*/
.cnam:hover,.tnam:hover,.wnam:hover,.onam:hover{
	text-shadow:5px 5px 5px #6d4a37;

}
.en{
padding:0.2em 0;
font-size:3em;
text-align:center;
background:#bbb;
border-radius:7px 7px 0 0;
border-bottom:1px solid #777;
}
.onn{
padding:2% 0% 0.5% 10%;}
.conn{
padding:1% 0% 1% 10%;}
.eo{
display:inline-block;	
font-size:2em;
padding:5% 0% 1% 10%;
}
.co{
display:inline-block;
font-size:2em;
padding:5% 0% 1% 10%;
}
.overlay{
opacity:0.5;
height:100%;
width:100%;
position:fixed;
top:0px;
left:0px;
z-index:2;
background:#000;
display:none;	
}
.con{
overflow-y:scroll;
overflow-x:hidden;
}
.pt{
height:10%;
}
.item{
margin-left:4%;
cursor:pointer;
font-size:2.2em;
font-family:eve;
}

.cat{
margin:0.5% 0 0.5% 8%;
padding:1px  0 0 5px;
font-family:eve;
font-size:2.25em;
width:50%;
cursor:default;
}
#cult .cat,#tech .cat{
margin:1.5% 0 -1.5% 3%;
padding:0px;
font-weight:bold;
font-size:2.9em;
}
.sub{
position:relative;
top:20px;
left:-45px;
font-size:0.75em;	
}
::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 30px;
display: block;
background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
background-color: #3b3b3b;
-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #666;
border: 1px solid #eee;
-webkit-border-radius: 6px;
}
#cult .cat{
color:#B22222;	
}
#tech .cat{
color:#000066;	
}
#work .cat{
color:#336600;
}
#online .cat{
color:#660033;
}
.pane ol,.pane ul{
list-style-type:disc;
list-style-position:inside;
}
.pane p{
padding-bottom:15px;
}